.about {

  &__item {
    padding: 80px 0;
  } 

  &__inner {
    display: flex;
    align-items: center;
  }

  &__content {
    max-width: 520px;
    width: 100%;
    margin-right: 90px;
  }

  &__image  {
    width: 588px;
    height: 685px;

    .about__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item:nth-child(2) {
    .about__image {
      width: 384px;
      height: 576px;
      margin-right: 126px;
    }

    .about__content {
      max-width: 616px;
      margin: 0;
    }
  }

  &__title {
    font-size: 48px;
  }

  &__text {
    margin-bottom: 32px;

    p:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__btn {
    padding: 15px 31px;
  }
}