html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
 
.main {
  flex-grow: 1;
}
 
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--color-main);
  @extend %montserrat-600;
}

.title {
  font-size: 36px;
  line-height: 1.5;
  color: var(--color-main);
  @extend %montserrat-600;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.text {
  color: var(--color-text);
}

.hidden {
  display: none;
}
