.button {
  padding: 13px 15px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-main);
  border-radius: 4px;
  border: 1px solid transparent;
  text-transform: capitalize;
  outline: none;
  transition: color 0.3s, background-color 0.3s, border 0.5s ease-out; 

  &:focus,
  &:hover,
  &:active {
    color: var(--color-main);
    background-color: var(--color-white);
    border: 1px solid var(--color-main);
  }
}