.accordion
  .accordion__item 
    button.accordion__btn 1. Choose a room and date
      span 
        <svg class="accordion-icon" width="18" height="10" viewBox="0 0 18 10" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 1.5L9 8.5L2 1.5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    .accordion__content 
      .accordion__text.text 
        p Contact us via phone or email, ask for availability of you choice of room. We might offer you something exciting.

  .accordion__item 
    button.accordion__btn 2. Check for room availability
      span 
        <svg class="accordion-icon" width="18" height="10" viewBox="0 0 18 10" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 1.5L9 8.5L2 1.5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    .accordion__content 
      .accordion__text.text 
        p Contact us via phone or email, ask for availability of you choice of room. We might offer you something exciting.
        
  .accordion__item 
    button.accordion__btn 3. Enjoy your room
      span 
        <svg class="accordion-icon" width="18" height="10" viewBox="0 0 18 10" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 1.5L9 8.5L2 1.5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    .accordion__content 
      .accordion__text.text 
        p Contact us via phone or email, ask for availability of you choice of room. We might offer you something exciting.
