section.rooms#rooms 
  .container 
    .rooms__top 
      h2.title.rooms__title Many Rooms to Choose
      .rooms__text.text
        p There is a room for every needs. We have room for individuals until family size, we also have a cabin for more private experience
      button.button.rooms__btn Explore more

    ul.rooms__list 
      li.rooms__item 
        .rooms__card.room-card 
          a.room-card__image-link(href="#")
            img.room-card__img(src="images/rooms/1.jpg", alt="Single room")
          h3.room-card__title Single Room
          .room-card__text.text 
            p Best for a brave lone wolf who need comfort and quiet quality time, but you still have a chance to meet others.
          a.room-card__link(href="#") Learn more
      li.rooms__item 
        .rooms__card.room-card 
          a.room-card__image-link(href="#")
            img.room-card__img(src="images/rooms/2.jpg", alt="Single room")
          h3.room-card__title Double Room
          .room-card__text.text 
            p Best for couple, seek happiness in intimacy without worry of being disturbed. Feel the whole world just for you two
          a.room-card__link(href="#") Learn more 
      li.rooms__item 
        .rooms__card.room-card 
          a.room-card__image-link(href="#")
            img.room-card__img(src="images/rooms/3.jpg", alt="Single room")
          h3.room-card__title Cootage
          .room-card__text.text 
            p Best for family or group. One cootage can fit up to 5 people. Made stronger bond with your family or friends
            
          a.room-card__link(href="#") Learn more 