.activities {
  padding: 80px 0;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__inner {
    @include flexb();
  }

  &__content {
    max-width: 584px;
    width: 100%;
    margin-right: 30px;
  }

  &__image {
    width: 384px;
    height: 384px;

    .activities__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item:nth-child(2n) {

    .activities__content {
      margin-right: 0;
    }

    .activities__image {
      margin-right: 30px;
    }
  }
}