.footer {
  padding: 120px 0;
  background-color: var( --color-bg);
  color: var(--color-white);

  &__logo {
    color: var(--color-white);
    margin-bottom: 13px;
  }

  &__columns {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    &:first-child {
      max-width: 200px;
      margin-right: 30px;
    }

    &:last-child {
      display: flex;
      max-width: 600px;
    } 
  }

  &__items {
    width: 110px;

    &:not(:last-child) {
      margin-right: 100px;
    }
  }

  &__item--title {
    font-size: 16px;
    line-height: 1.2;
    @extend %inter-700;
    letter-spacing: 0.01em;
    color: var(--color-white);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 1.2;
    color: #D9DBDE;
    position: relative;
    outline: none;

    &::before {
      position: absolute;
      content: '';
      width: 0;
      left: auto;
      right: 0;
      bottom: -3px;
      border-bottom: 1px solid var(--color-white);
      transition: all 0.3s;
    }

    &:focus::before,
    &:hover::before,
    &:active::before{
      width: 100%;
      right: auto;
      left: 0;
    }
  }

  &__text {
     color:#D9DBDE;
     font-size: 16px;
     line-height: 1.75;
     margin-bottom: 36px;
  }
}

.social-links {
  display: flex;
  align-items: center;

  &__item  {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__link {
    width: 32px;
    height: 32px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}